body {
  font-family: Arial, sans-serif;
}

button {
  margin: 10px;
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
